
* {
  box-sizing: border-box;
  user-select: none;
}

:root{
  --hangman-draw-color:#333;
  --hangman-width-size :4px;
}

body{
  font-family:  Tahoma, Arial;
  background-color: darkolivegreen;
}

.container{
  margin: 20px auto;
  width: 1000px;
}

@media (max-width:1010px){
  .container{
    width: 800px;
  }
}

@media (max-width:820px){
  .container{
    width: 590px;
  }
}

@media (max-width:800px){
  .container{
    width: 550px;
  }
}

@media (max-width:80px){
  .container{
    width: 450px;
  }
}

.container .game-info{
  display: flex;
  font-size: 20px;
}

.container .game-info .game-name{
  background-color: #009688;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.container .game-info .category{
  flex: 1;
  text-align: right;
}

.container .game-info .category span{
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}

.row{
  display: flex;
}

.row .hangman-draw{
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
}

.row .hangman-draw .the-draw{
  width: 60px;
  height: 280px;
  border-bottom: var(--hangman-width-size) solid var(--hangman-draw-color);
  position: relative;
  margin: auto;
  display: none;
}

.row .hangman-draw.wrong-1 .the-draw{
  display: block;
}

.row .hangman-draw .the-draw .the-stand{
  content: "";
  position: absolute;
  background-color: var(--hangman-draw-color);
  width: var(--hangman-width-size);
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}

.row .hangman-draw.wrong-2 .the-stand{
  display: block;
}

.row .hangman-draw .the-draw .the-hang{
  display: none;
}

.row .hangman-draw.wrong-3 .the-hang{
  display: block;
}

.row .hangman-draw .the-draw .the-hang::before{
  content: "";
  position: absolute;
  background-color: var(--hangman-draw-color);
  width: 100px;
  height: 4px;
  left: 30px;
  top: 15px;
}
.row .hangman-draw .the-draw .the-hang::after{
  content: "";
  position: absolute;
  width: var(--hangman-width-size);
  height: 30px;
  background-color: var(--hangman-draw-color);
  top: 15px;
  left: 130px;
}

.row .hangman-draw .the-draw .the-rope{
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 97px;
  top: 42px;
  border: 4px dashed var(--hangman-draw-color);
  display: none;
}

.row .hangman-draw.wrong-4 .the-rope{
  display: block;
}

.row .hangman-draw .the-draw .the-man .head{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 107px;
  top: 52px;
  border: 4px solid var(--hangman-draw-color);
  display: none;
}

.row .hangman-draw.wrong-5 .the-man .head{
  display: block;
}

.row .hangman-draw .the-draw .the-man .body{
  position: absolute;
  height: 100px;
  border: 2px solid var(--hangman-draw-color);
  left: 130px;
  top: 98px;
  display: none;
}

.row .hangman-draw.wrong-6 .the-man .body{
  display: block;
}

.row .hangman-draw .the-draw .the-man .hands{
  display: none;
}

.row .hangman-draw.wrong-7 .the-man .hands{
  display: block;
}

.row .hangman-draw .the-draw .the-man .hands::before,
.row .hangman-draw .the-draw .the-man .hands::after{
  content: "";
  position: absolute;
  width:50px;
  height: 4px;
  background-color: var(--hangman-draw-color);
  
}

.row .hangman-draw .the-draw .the-man .hands::before{
  left: 125px;
  top: 144px;
  transform: rotate(43deg);
}

.row .hangman-draw .the-draw .the-man .hands::after{
  left: 90px;
  top: 144px;
  transform: rotate(-43deg);
}

.row .hangman-draw .the-draw .the-man .legs{
  display: none;
}

.row .hangman-draw.wrong-8 .the-man .legs{
  display: block;
}

.row .hangman-draw .the-draw .the-man .legs::before,
.row .hangman-draw .the-draw .the-man .legs::after{
  content: "";
  position: absolute;
  width:50px;
  height: 4px;
  background-color: var(--hangman-draw-color);
}

.row .hangman-draw .the-draw .the-man .legs::before{
  left: 125px;
  top: 210px;
  transform: rotate(43deg);
}
.row .hangman-draw .the-draw .the-man .legs::after{
  left: 90px;
  top: 210px;
  transform: rotate(-43deg);
}

hr{
  border: 1px solid #eee;
}

.letters{
  flex: 1;
  padding: 15px;
  text-align: center;

}

.letters.finished{
  pointer-events: none;
}

.letters .letter-box{
  display: inline-block;
  width: 55px;
  height: 55px;
  padding: 10px;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  margin:  0 10px 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}


.letters .letter-box.clicked{
  background-color: #222;
  opacity: 0.2;
  pointer-events: none;
}

.letters .letter-box:hover{
  background-color: #1b615a;
}

.letters-guess{
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span{
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: var(--hangman-width-size) solid var(--hangman-draw-color);
}

.letters-guess span.has-space{
  background: none;
  border-bottom: none;
  position: relative;
}

.letters-guess span.has-space::before{
  content: " ";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.popUpLose,
.popUpWin{
  position: absolute;
  background-color: #031311c2;
  width: 60%;
  height: fit-content;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 90px;
  padding: 30px;
  border-radius: 30px;
}

@media (max-width:500px){
  .popUpLose,
  .popUpWin{
  width: 100%;
  height: fit-content;
  color: white;
  text-align: center;
  top: 70%;
  left: 80%;
  }
}

